<a href="https://colab.research.google.com/github/sod-04/LABORATORIOS_TALENTO-TECH/blob/main/Laboratorio_9_SDOD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Parte 1

**Ejercicio 1**
- Identificar y contar los valores faltantes en cada columna.

In [67]:
import pandas as pd
from dateutil import parser

#Datos originales

data = {
'Nombre':['Juan','Ana','Pedro','María','Luis','Ana'],
'Edad': [28, 34, None, 45, 38, 34],
'Salario': ['3000', '4000', 'cinco mil', '4500', '4000', '5000'],
'Fecha_Ingreso': ['2021-01-15', '2020/03/12', '2022-07-01','2021/12/01','2021-05-20', '2020-03-12']
}

df = pd.DataFrame(data)

#Identificar y contar valores faltantes
print("Valores faltantes:")
print(df.isnull().sum())

Valores faltantes:
Nombre           0
Edad             1
Salario          0
Fecha_Ingreso    0
dtype: int64

- Verificar el formato de la columna 'Salario' para asegurar que todos los valores sean numéricos.

In [68]:
#Verificar formato de 'Salario'
print("\nFormato incorrecto en 'Salario':")
print(df[~df['Salario'].str.replace('[^0-9]', '',regex=True).str.isdigit()])

Formato incorrecto en 'Salario':
  Nombre  Edad    Salario Fecha_Ingreso
2  Pedro   NaN  cinco mil    2022-07-01

- Validar y estandarizar el formato de la columna 'Fecha Ingreso' a YYYY-MM-DD.

In [69]:
#Función para convertir las fechas al formato YYYY-MM-DD

def convertir_fecha (fecha):
    try:
        fecha_convertida = parser.parse(fecha)
        return fecha_convertida.strftime('%Y-%m-%d')
    except (parser.ParseError, TypeError, ValueError):
        return None

In [70]:
#Validar y estandarizar el formato de 'Fecha de ingreso'
df['Fecha_Ingreso'] = df['Fecha_Ingreso'].apply(convertir_fecha)

In [71]:
df['Fecha_Ingreso']

0    2021-01-15
1    2020-03-12
2    2022-07-01
3    2021-12-01
4    2021-05-20
5    2020-03-12
Name: Fecha_Ingreso, dtype: object

In [72]:
print("\nDatos después de la validación y estandarización de 'Fecha_Ingreso':")
print(df)

Datos después de la validación y estandarización de 'Fecha_Ingreso':
  Nombre  Edad    Salario Fecha_Ingreso
0   Juan  28.0       3000    2021-01-15
1    Ana  34.0       4000    2020-03-12
2  Pedro   NaN  cinco mil    2022-07-01
3  María  45.0       4500    2021-12-01
4   Luis  38.0       4000    2021-05-20
5    Ana  34.0       5000    2020-03-12

**Ejercicio 2**
-	Identificar y contar los valores faltantes en cada columna.

In [73]:
import pandas as pd
from dateutil import parser
from dateutil.parser import ParserError

#Datos originales
data = {
    'Nombre':['Juan', 'Ana', 'Pedro', 'María', 'Luis', 'Carla'],
    'Edad':[28, None, 40, 45, 38, 34],
    'Salario':['3000', '4000', '4500', 'cuatro mil', '5000', '4000'],
    'Cargo':['Analista', 'Gerente', 'Desarrollador', 'Gerente', 'Analista', None],
    'Fecha_Ingreso':['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', None, '2020-03-12']
}

df = pd.DataFrame(data)

valores_faltantes = df.isnull().sum()
print("Valores faltantes por columna:")
print(valores_faltantes)

Valores faltantes por columna:
Nombre           0
Edad             1
Salario          0
Cargo            1
Fecha_Ingreso    1
dtype: int64

- Verificar el formato de la columna "Salario" para asegurarse de que todos los valores sean numéricos.

In [74]:
df['Salario']

0          3000
1          4000
2          4500
3    cuatro mil
4          5000
5          4000
Name: Salario, dtype: object

In [75]:
salarios_incorrectos = df[~df['Salario'].str.replace('[^0-9]', '', regex=True).str.isdigit()]
print("\nSalarios incorrectos:")
print(salarios_incorrectos)

Salarios incorrectos:
  Nombre  Edad     Salario    Cargo Fecha_Ingreso
3  María  45.0  cuatro mil  Gerente    2021/12/01

- Validar y estandarizar el formato de la columna "FechaIngreso" a YYYY-MM-DD.

In [76]:
def normalizar_fecha(fecha):
    try:
        fecha_convertida = parser.parse(fecha)
        return fecha_convertida.strftime('%Y-%m-%d')
    except (parser.ParserError, TypeError, ValueError):
        return None

In [77]:
df['Fecha_Ingreso'] = df['Fecha_Ingreso'].apply(normalizar_fecha)

print("\nDatos después de la validación y estandarización de 'Fecha_Ingreso':")
print(df['Fecha_Ingreso'])

Datos después de la validación y estandarización de 'Fecha_Ingreso':
0    2021-01-15
1    2020-03-12
2    2022-07-01
3    2021-12-01
4          None
5    2020-03-12
Name: Fecha_Ingreso, dtype: object

- Verificar que no haya valores faltantes en la columna "Cargo".

In [79]:
Cargo_faltante = df[df['Cargo'].isnull()]
print("\nCargos faltantes:")
print(Cargo_faltante)

print("\nDatos después de la validación:")
print(df)
(valores_faltantes, salarios_incorrectos)

Cargos faltantes:
  Nombre  Edad Salario Cargo Fecha_Ingreso
5  Carla  34.0    4000  None    2020-03-12

Datos después de la validación:
  Nombre  Edad     Salario          Cargo Fecha_Ingreso
0   Juan  28.0        3000       Analista    2021-01-15
1    Ana   NaN        4000        Gerente    2020-03-12
2  Pedro  40.0        4500  Desarrollador    2022-07-01
3  María  45.0  cuatro mil        Gerente    2021-12-01
4   Luis  38.0        5000       Analista          None
5  Carla  34.0        4000           None    2020-03-12

(Nombre           0
 Edad             1
 Salario          0
 Cargo            1
 Fecha_Ingreso    1
 dtype: int64,
   Nombre  Edad     Salario    Cargo Fecha_Ingreso
 3  María  45.0  cuatro mil  Gerente    2021/12/01)

#Parte 2

- Validar los datos y mostrar los productos con precios inválidos.

In [80]:
import pandas as pd

datos = {'Producto':['Producto A', 'Producto B', 'Producto C', 'Producto D'],
         'Precio':[150,-25,100,None]}
df = pd.DataFrame(datos)

df['Validación precio'] = df['Precio'].apply(lambda x:'Valido' if pd.notnull(x) and x >=0 else 'invalido')

df_invalidos = df[df['Validación precio'] == 'invalido']

display(df_invalidos)

     Producto  Precio Validación precio
1  Producto B   -25.0          invalido
3  Producto D     NaN          invalido

- Validar los datos duplicados.

In [81]:
import pandas as pd

clientes = {'ID Cliente':[1, 2, 3, 2, 4],
            'Nombre':['Ana', 'Luis', 'María', 'Luis', 'Carlos']
}

df_clientes = pd.DataFrame(clientes)

duplicados = df_clientes[df_clientes.duplicated('ID Cliente', keep=False)]

print(duplicados)

   ID Cliente Nombre
1           2   Luis
3           2   Luis

- Encriptación y Desencriptación de Datos Sensibles

In [82]:
from cryptography.fernet import Fernet

#Generar clave de encriptación

key = Fernet.generate_key()
cipher_suite = Fernet(key)

#Datos sensibles (Número de tarjeta)

datos_sensibles = "1234-5678-9101- 1121".encode()

#Encriptar los datos

datos_encriptados = cipher_suite.encrypt(datos_sensibles)

#Desencriptar los datos

datos_desencriptados = cipher_suite.decrypt(datos_encriptados)

#Mostrar ambos resultados

resultados_encriptacion = {
    'Datos Encriptados' : datos_encriptados,
    'Datos Desencriptados' : datos_desencriptados
}

resultados_encriptacion

{'Datos Encriptados': b'gAAAAABnQODVEcj3q_flfG-_lKLGdod_xxyJlCcHHRRYf7dvmTobPd9y5q0Dso5DTDyu1rsZQPSnYFMSlYWf-0QcwcbFzgiQvbpOXg7kPuxPj23OmXkhg5U=',
 'Datos Desencriptados': b'1234-5678-9101- 1121'}